<div class="p-4">
    <p class="indigo-text h3 text-center">View Ticket</p>
    <hr>

    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12">
            <div class="row">
                <div class="col">
                    <p class="text-muted">Ticket id #{{ticket.ticketId}}</p>
                    <!-- <h4 class="text-primary font-weight-light">
                        {{ticket.subject}}
                    </h4>
                    <p>{{ticket.summary}}</p> -->

                    <h4 class="text-primary font-weight-light" [innerHTML]="ticket.subject | base64HTML"> </h4>
                    <p [innerHTML]="ticket.summary | base64HTML"></p>


                    <p class="small text-muted float-right">raised by {{ticket.emailId}}</p>

                </div>
            </div>

            <div class="row" *ngIf="ticketServiceInvoice != null">
                <div class="col-12 p-2">
                    <hr>
                    <div class="card">
                        <div class="card-header">
                            <span class="text-dark">Ticket Service Invoice</span>
                            <div class="float-right small">
                                <i class="fa fa-user" aria-hidden="true"></i>&nbsp; {{ticketServiceInvoice.generatedBy}}
                                ({{ticketServiceInvoice.createddatetime | date:'medium'}})
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p class="text-primary">{{ticketServiceInvoice.title}}</p>
                                    <p class="text-muted small">{{ticketServiceInvoice.description}}</p>
                                    <p>
                                        <span> Invoice No : {{ticketServiceInvoice.invoiceNo}}</span><br>
                                        <span> Amount : {{ticketServiceInvoice.amount | currency:'INR'}}</span><br>
                                        <span> GST :{{ticketServiceInvoice.gst}}%</span><br>
                                        <span> Total Amount :
                                            {{ticketServiceInvoice.totalAmount | currency:'INR'}}</span><br>
                                    </p>
                                    <p>
                                        <small
                                            (click)="downloadTicketServiceInvoice(ticketServiceInvoice.invoiceFileName)"
                                            class="float-right badge badge-light text-muted pointer">
                                            &nbsp;&nbsp; Download {{ticketServiceInvoice.invoiceFileName}}&nbsp;&nbsp;
                                            <i class="fa fa-download"> </i>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row" *ngIf="ticket.status != 'Closed'">
                <div class="col">
                    <p>
                        <span class="float-right text-primary pr-5 pointer" *ngIf="!showReply"
                            (click)="showReply = !showReply">Add Comment</span>
                        <span class="float-right text-primary pr-5 pointer" *ngIf="showReply"
                            (click)="showReply = !showReply">Close</span>
                    </p>
                    <div [hidden]="!showReply">
                        <textarea class="form-control" maxlength="3500" name="reply" id="reply" rows="10"
                            [(ngModel)]="reply" placeholder="Enter something to send"></textarea>
                        <button (click)="sendReply()" class="btn btn-sm btn-primary float-right"
                            [disabled]="reply.length == 0 || replyInProgress">
                            <div *ngIf="replyInProgress" class="spinner-border spinner-border-sm text-white small"
                                role="status">
                                <span class="sr-only">sending...</span>
                            </div>
                            send
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 p-2" *ngFor="let reply of ticketReplies">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-user" aria-hidden="true"></i>&nbsp; {{reply.replyBy}}
                            <div class="float-right small">{{reply.createddatetime | date:'medium'}}</div>
                        </div>
                        <div class="card-body">
                            <p style="font-family: bookman old style; font-size:16px">{{reply.reply}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card p-1">
                <div class="card-header">
                    <i class="fa fa-ticket" aria-hidden="true"></i>&nbsp; Ticket Info
                    <!-- <div class="float-right"><i class="fa fa-chevron-up" aria-hidden="true"></i></div> -->
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush font-size-14">
                        <!-- <li class="list-group-item list-group-item-action">Ticket Id : #{{ticket.ticketId}}</li> -->
                        <li class="p-1 list-group-item list-group-item-action">
                            <span class="text-muted">Product : </span>{{ticket.product}}
                        </li>
                        <li class="p-1 list-group-item list-group-item-action">
                            <span class="text-muted">ServiceType : </span>{{ticket.serviceType}}
                        </li>
                        <li class="p-1 list-group-item list-group-item-action">
                            <span class="text-muted">Priority : </span>{{ticket.priority}}
                        </li>
                        <li class="p-1 list-group-item list-group-item-action">
                            <span class="text-muted">Created on : </span>
                            {{ticket.createddatetime | date:'medium'}}
                        </li>
                        <li class="p-1 list-group-item list-group-item-action">
                            <span class="text-muted">Last Update : </span>
                            {{ticket.lastupdatedatetime | date:'medium'}}
                            <br>
                            <small *ngIf="ticket.status != 'Raised'" class="text-muted"> Last Update by :
                                {{ticket.lastUpdatedBy}}</small>
                        </li>
                        <li class="p-1 list-group-item list-group-item-action">
                            <span class="text-muted">Service Under : </span>
                            <span class="m-1 badge badge-info">{{ticket.institute.serviceUnder}}</span>
                            <br>
                            <span class="text-muted">Status : </span>
                            <span class="badge badge-info">{{ticket.status}}</span>
                            <br>
                            <small *ngIf="ticket.status != 'Raised'" class="text-muted"> Assigned to :
                                {{ticket.assignedTo}}</small>
                        </li>
                    </ul>
                    <!-- <button class="btn btn-primary" (click)="onButtonClick()"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Reply</button> -->
                    <button (click)="closeTicket()" *ngIf="ticket.status != 'Closed'"
                        class="btn btn-primary btn-block"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close
                        this
                        ticket</button>

                    <button (click)="reopenTicket()" *ngIf="ticket.status == 'Closed'"
                        class="btn btn-primary btn-block">&nbsp;Re-Open
                        this
                        ticket</button>
                </div>
            </div>

            <div class="card p-1" [hidden]="ticket.status != 'Closed'">
                <div class="card-header">
                    <i class="fa fa-rating" aria-hidden="true"></i>
                    &nbsp; Rating
                </div>
                <div class="card-body">
                    <app-add-rating *ngIf="ticket.ticketId && ticketRating == null" (result)="resultEmitted($event)"
                        [ticket]="ticket">
                    </app-add-rating>

                    <app-view-rating *ngIf="ticket.ticketId && ticketRating != null" [rating]="ticketRating">
                    </app-view-rating>
                </div>
            </div>

            <div class="card p-1">
                <div class="card-header">
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                    &nbsp; Attachments
                    <!-- <div class="float-right"><i class="fa fa-chevron-up" aria-hidden="true"></i></div> -->
                </div>
                <div class="card-body">
                    <span class="text-muted small" *ngIf="ticketAttachments.length == 0">No Attachments</span>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-action"
                            *ngFor="let attachments of ticketAttachments">
                            <span>{{attachments.fileName}}</span>
                            <br>
                            <small
                                class="small float-left text-muted">{{attachments.createddatetime | date:'medium'}}</small>
                            <small class="float-right badge badge-light text-muted">{{attachments.fileSize | filesize}}
                                <i (click)="downloadTicketAttachmnet(attachments)" class="fa fa-download pointer"></i>
                            </small>
                        </li>
                    </ul>

                    <div *ngIf="ticket.status != 'Closed'" class="row justify-content-center">
                        <div class="col-10">
                            <label class="btn btn-sm btn-light">Add Attachment &nbsp;&nbsp;
                                <input #attachment type="file" id="myFile" name="filename" (change)="fileChange($event)"
                                    multiple hidden>
                            </label> &nbsp;
                        </div>
                        <small class="text-muted float-left">Maximum per file size is 5mb</small>
                        <div *ngIf="attachmentsInProgress" class="spinner-border spinner-border-sm text-secondary small"
                            role="status">
                            <span class="sr-only">Uploading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>