<div class="container p-2 mb-5">
    <div class="card">
        <div class="card-body">
            <p class="text-indigo h4 text-center">New Ticket</p>
            <hr>

            <div class="row justify-content-center">
                <div class="col-10">
                    <label>Product</label>
                    <select id="product" name="product" (change)="serviceUnderByProduct()" [(ngModel)]="ticket.product"
                        class="form-control custom-select">
                        <option value="">--select--</option>
                        <option *ngFor="let prod of InstProducts" value="{{prod.product.name}}">{{prod.product.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-5">
                    <label>Institute Name</label>
                    <input class="form-control input-lg" type="text" title="ticket.instituteName"
                        placeHolder="Enter Inst.Name" name="instituteName" disabled
                        [(ngModel)]="ticket.instituteName" />
                </div>
                <div class="col-5">
                    <label>EMail-ID</label>
                    <input class="form-control input-lg" type="text" id="mailid" placeHolder="Enter Mailid"
                        name="emailID" disabled [(ngModel)]="ticket.emailId" />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-5">
                    <label>Service Under </label>
                    <select disabled id="document" name="serviceUnder" [(ngModel)]="ticket.serviceUnder"
                        class="form-control custom-select">
                        <option value="" disabled>--select--</option>
                        <option [disabled]="ticket.serviceUnder != 'Warranty'" value="Warranty">Warranty</option>
                        <option [disabled]="ticket.serviceUnder != 'AMC'" value="AMC">AMC</option>
                        <option [disabled]="ticket.serviceUnder != 'ServiceCall'" value="ServiceCall">ServiceCall
                        </option>
                    </select>
                    <small class="text-muted float-right">
                        <span>{{ticket.serviceUnder}} is applied based on Your Current Service</span><br>
                        <span *ngIf="ticket.serviceUnder == 'ServiceCall'">Additional Cost may apply if you're not in
                            Warranty / AMC</span>
                    </small>
                </div>

                <div class="col-3 pr-0">
                    <label>Service Type</label>
                    <select id="text" name="serviceType" [(ngModel)]="ticket.serviceType"
                        class="form-control custom-select">
                        <option value="">--------------</option>
                        <option value="Re-Installation">Re-Installation</option>
                        <option value="Report Modification">Report Modification</option>
                        <option value="Customization">Customization</option>
                        <option value="Database rectification">Database rectification</option>
                        <option value="New Module">New Module Needed</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                <div class="col-2 pl-0">
                    <label>Priority</label>
                    <select id="document" name="priority" [(ngModel)]="ticket.priority"
                        class="form-control custom-select">
                        <option value="NotPreferred">--Not Preferred--</option>
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                    </select>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-10">
                    <label>Subject</label>
                    <input class="form-control input-lg" type="text" placeHolder="Enter Subject" name="subject"
                        maxlength=700 [(ngModel)]="ticket.subject" />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10">
                    <label>Summary</label>
                    <!-- <textarea rows="6" class="form-control input-lg" id="summary" maxlength=3500
                        placeHolder="Add Summary about the ticket" name="summary"
                        [(ngModel)]="ticket.summary"></textarea> -->
                    <angular-editor [config]="editorConfig" [(ngModel)]="ticket.summary"></angular-editor>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-10">
                    <label>Email Updates</label>
                    <input class="form-control input-lg" type="text" placeHolder="Enter Mail-ID" name="emailUpdates"
                        [(ngModel)]="ticket.emailUpdates" />
                    <small class="text-muted float-right">
                        <span>Enter Multiple emailids by using semicolon<b>(;)</b></span><br>
                        <span>Email Updates will be sent to these email ids on every status updates</span>
                    </small>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-10">
                    <label class="btn btn-sm btn-light">Add Attachment &nbsp;&nbsp;
                        <input type="file" id="myFile" name="filename" (change)="fileChange($event)" multiple hidden>
                    </label> &nbsp;
                    <small *ngIf="files.length == 0"> No Files selected</small>
                    <br>

                    <small *ngFor="let file of files">
                        {{file.name}}
                        <small class="badge badge-light text-muted">{{file.size | filesize}} </small>
                        <br>
                    </small>
                </div>
            </div>
            <br>
            <div class="row text-center">
                <div class="col">
                    <button [disabled]="submitInProgress" class="btn btn-md btn-primary" (click)="AddTicket()">
                        <div *ngIf="submitInProgress" class="spinner-border spinner-border-sm text-secondary small"
                            role="status">
                            <span class="sr-only">...</span>
                        </div>
                        Submit
                    </button>&nbsp;&nbsp;
                    <button [disabled]="submitInProgress" class="btn btn-md btn-primary" (click)="clear()">
                        Clear
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>